.planets {
  display: flex;
  width: inherit;
  padding: 10px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__card {
    width: 250px;
    height: 300px;
    padding: 10px;
    background-color: #80808014;
    border-radius: 2px;
    box-shadow: 2px 2px 2px grey;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: #8080806e;
    }
  }
}
